<header style="text-align:center;">
  <h1>
    Angular {{title}}
  </h1>

  <a href="https://github.com/wizardnet972/universal-seed" target="_blank"><img width="400" src="https://cdn-images-1.medium.com/max/1400/1*IQU-Nfl1ylx3bN5q6Uf_iA.png"></a>
  <br><br>
  <div class="note"> ** View page source to see the universal magic :) **</div>
  <br><br>
</header>

<nav>
  <a routerLink="/">Home</a>
  <a routerLink="/lazy">Lazy</a>
</nav>

<router-outlet></router-outlet>

<hr><br><br>

<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" href="https://medium.com/@wizardnet972/angular4-with-universal-seed-a477237a1995">Read about this seed</a></h2>
  </li>
  <li>
    <h2><a target="_blank" href="https://github.com/wizardnet972/universal-seed">Please support this project</a></h2>
  </li>
</ul>